//Colors:
$rk_red: #C82323;
$black: #000;
$grey-dark: #161616;
$grey: #313131;
$text: #fff;

body {
  background-color: $black;
}

.is-verticaly-centered {
  position: relative;
  height: 12em;
}

.has-rounded-corner {
    border-radius: 0 0 25px 0;
}

.App {
  padding-top: 5em;
  height: 16em;
}

.player_info, .player_controls  {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 2em;
  box-sizing: border-box;
}

.player_picture {
  height:17em;
  background-repeat: no-repeat;
  background-size: cover;
  img {
    height: 100%;
  }
}
.player_controls {
  display: flex;
  align-items: center;
  button, p {
    margin-left: 3em;
  }
}
.program_wrapper {
  height: 5em;
  background-color: $grey-dark;
}

.toggle_player_button {
  background: none;
  border:none;
  padding: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  &:focus {
    outline:none;
  }
}

.has-background-red {
    background-color: $rk_red;
}

// TYPOGRAPHY

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,700&subset=latin-ext');

$family-primary: "IBM Plex Sans";

.player_headline {
  margin-bottom: 1em;
}

.player_program_headline {
  font-weight: 200;
  font-size: 0.8rem;
  line-height: 5rem;
  text-align: center;
}

.rangeslider{
  width: 120px;
  height: 5px;
  display: inline-block;
  background: $grey;
  margin-left: 3.5em;
  position: relative;
  border-radius: 10px;
  &:before {
    content: " ";
    display: block;
    background: url('./data/img/SVG/volumeIcon.svg') no-repeat;
    width: 16px;
    height: 16px;
    position: relative;
    left: -16px;
    top: -4px;
    float: left;
    margin: 0 20px 0 0;
  }
}

.rangeslider,
.rangeslider .rangeslider__fill {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}

.rangeslider-horizontal .rangeslider__handle {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top:5px;
    left: 5px;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 20px;
    background-color: #fff;
    &:after {
      content: ' ';
      position: absolute;
      width:9px;
      height: 9px;
      top: 3px;
      left: 3px;
      border-radius: 12px;
      background-color: $rk_red;
      box-shadow: none;
    }
  }

  .rangeslider-horizontal .rangeslider__fill {
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    top: 0;
}

//////////////////////////////////////////////


@import 'node_modules/bulma/bulma.sass';
@import "./carousel.scss";
