@import 'node_modules/bulma/sass/utilities/_all.sass';

//Colors:
$rk_red: #C82323;
$black: #000;
$grey-dark: #161616;
$grey: #313131;
$text: #fff;

.is-verticaly-centered {
  position: relative;
  height: 12em;
}

.has-rounded-corner {
    border-radius: 0 0 25px 0;
}

.App {
  @include tablet {
      padding-top: 5em;
  }
  background-color: none;
  height: 16em;
}

.player_info, .player_controls  {
  @include mobile {
    width: 100%;
    text-align: center;
  }
  position: absolute;
  @include tablet {
    top: 50%;
    transform: translate(0, -50%);
  }
  padding: 2em;
  box-sizing: border-box;
}

.player_controls {
  @include mobile {
    bottom: 0%;
  }
}

.player_info{
  @include mobile {
    bottom: 0%;
  }
}

.Player_Wrapper {
  position: relative;
}

.player_picture {
  height:19em;
  @include mobile {
    height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: -1;
      background-color: rgba(0,0,0,0.7);
      background-blend-mode: darken;
    }
  @include desktop {
    height:17em;
  }
  background-repeat: no-repeat;
  background-size: cover;
  img {
    height: 100%;
  }
}

.player_controls {
  display: flex;
  align-items: center;
  @include mobile {
    justify-content: space-between;
  }
  button, p, .rangeslider {
    @include tablet {
      margin-left: 3em;
    }
  }
}
.program_wrapper {
  @include desktop {
    height: 5em;
  }
  background-color: $grey-dark;
}

.toggle_player_button {
  background: none;
  border:none;
  padding: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  &:focus {
    outline:none;
  }
}

.player_inner_wrapper {
  @include tablet {
      background-color: $rk_red;
  }
}

// TYPOGRAPHY

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,400,700&subset=latin-ext');

$family-primary: "IBM Plex Sans";

.player_headline {
  margin-bottom: 1em;
}

.player_program_headline {
  font-weight: 200;
  font-size: 0.8rem;
  text-align: center;
  line-height: 2rem;
  background-color: $grey;
  @include desktop {
      line-height: 5rem;
  }
}

.rangeslider{
  width: 120px;
  height: 5px;
  display: inline-block;
  background: $grey;
  position: relative;
  border-radius: 10px;
  &:before {
    content: " ";
    display: block;
    background: url('./data/img/SVG/volumeIcon.svg') no-repeat;
    width: 16px;
    height: 16px;
    position: relative;
    left: -16px;
    top: -4px;
    float: left;
    margin: 0 20px 0 0;
  }
}

.rangeslider,
.rangeslider .rangeslider__fill {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}

.rangeslider-horizontal .rangeslider__handle {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 15px;
    top:5px;
    left: 5px;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-radius: 20px;
    background-color: #fff;
    &:after {
      content: ' ';
      position: absolute;
      width:9px;
      height: 9px;
      top: 3px;
      left: 3px;
      border-radius: 12px;
      background-color: $rk_red;
      box-shadow: none;
    }
  }

  .rangeslider-horizontal .rangeslider__fill {
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    top: 0;
}

//////////////////////////////////////////////


@import 'node_modules/bulma/bulma.sass';
@import "./carousel.scss";
